<!-- Page Header Start -->
<div class="container-fluid page-header">
  <h1 class="display-4 text-uppercase text-white mb-3">FAQ</h1>
  <div class="d-inline-flex text-white">
      <h6 class="text-uppercase m-0"><a class="text-white" href="">Često postavljena pitanja</a></h6>
      <!-- <h6 class="text-body m-0 px-3">/</h6>
      <h6 class="text-uppercase text-body m-0">Contact</h6> -->
  </div>
</div>
<!-- Page Header Start -->
<div style="visibility: hidden; position: absolute; width: 0px; height: 0px;">
  <svg xmlns="http://www.w3.org/2000/svg">
    <symbol viewBox="0 0 24 24" id="expand-more">
      <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/><path d="M0 0h24v24H0z" fill="none"/>
    </symbol>
    <symbol viewBox="0 0 24 24" id="close">
      <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/>
    </symbol>
  </svg>
</div>

<details open>
  <summary>
    Gde će limuzina doći po mene? 
    <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" /></svg>
    <svg class="control-icon control-icon-close" width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" /></svg>
  </summary>
  <p>Limuzina dolazi po vas i vaše prijatelje, rodbinu na adresu koju vi budete odredili.</p>
</details>

<details>

  <summary>
    Da li mogu da ja odredim muziku koja će se slušati tokom vožnje?
    <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" /></svg>
    <svg class="control-icon control-icon-close" width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" /></svg>
  </summary>
  <p>Naravno. Ukoliko želite da sami napravite listu pesama koje želite da slušate tokom vožnje potrebno je samo da nam dostavite USB ili CD sa željenom muzikom.</p>
</details>

<details>
  <summary>
    Za koliko ljudi je predviđena limuzina?    
    <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" /></svg>
    <svg class="control-icon control-icon-close" width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" /></svg>
  </summary>
  <p>Lincoln Town Car Celebrity je predvidjena za 8 osoba, a Lincoln Town Car Crystal za 6 osoba.</p>
</details>

<details>
  <summary>
    Šta je sve uključeno u cenu iznajmljivanja limuzine?    
    <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" /></svg>
    <svg class="control-icon control-icon-close" width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" /></svg>
  </summary>
  <p>U cenu je uključena vožnja sa profesionalnim vozačem, komplementarno piće po želji, stajanje na željenim lokacijama u gradu i okolini radi slikanja.</p>
</details>

<details>
  <summary>
    Koja je cena vožnje izvan Novog Sada?     
    <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" /></svg>
    <svg class="control-icon control-icon-close" width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" /></svg>
  </summary>
  <p>Cene zavise od dužine perioda za koji želite da iznajmite limuzinu. Za više informacija budite slobodni da nas kontaktirate putem telefona ili Vibera koji se nalazi na našoj Kontakt strani.</p>
</details>