    <!-- Page Header Start -->
    <div class="container-fluid page-header">
        <h1 class="display-4 text-uppercase text-white mb-3">Zašto izabrati nas</h1>
        <div class="d-inline-flex text-white">
        </div>
    </div>
    <!-- Page Header Start -->

       <!-- About Start -->
       <div class="container-fluid">
        <div class="container pb-5" style="margin-bottom: 16px;">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <p>Naš limo servis je izgrađen na decenijskom iskustvu u industriji luksuznog transporta.</p>
                    <p>Najbolja usluga limuzine u Novom Sadu i okolini dostupna vam je gde god da krenete!</p>
                    <p>Zadovoljstvo nam je da nudimo usluge prevoza gde god da se nađete u zemlji sa istim kvalitetom od ekskluzivnih limuzina.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

      <!-- Fact Start -->
        <h1 class="text-uppercase text-center mb-5 wow fadeInUp" data-wow-delay="0.2s">Naše brojke</h1>
        <div id="scrollTarget" class="container-fluid fact bg-dark my-5 py-5">
            <div class="container">
                <div class="row g-4" style="justify-content: space-between;">
                    <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.3s">
                        <i class="fa fa-check fa-2x text-white mb-3"></i>
                        <!-- <h2 class="text-white mb-2 counter"  [count]="18.113"
                        [skips]="10"
                        [interval]="100"
                        [yOffset]="100"></h2> -->
                        <app-animating-count
                        [count]="14"
                        [skips]="1"
                        [interval]="100"
                        [yOffset]="100"
                      ></app-animating-count>
                        <p class="text-white mb-0">Godine iskustva</p>
                    </div>
                    <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.3s">
                        <i class="fa fa-road fa-2x text-white mb-3"></i>
                        <app-animating-count
                        [count]="1000000"
                        [skips]="100000"
                        [interval]="100"
                        [yOffset]="100"
                      ></app-animating-count>
                        <p class="text-white mb-0">Kilometara iskustva</p>
                    </div>
                    <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.5s">
                        <i class="fa fa-users fa-2x text-white mb-3"></i>
                        <app-animating-count
                        [count]="150000"
                        [skips]="10000"
                        [interval]="100"
                        [yOffset]="100"
                      ></app-animating-count>
                        <p class="text-white mb-0">Zadovoljnih klijenta</p>
                    </div>
                    <!-- <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.7s">
                        <i class="fa fa-car fa-2x text-white mb-3"></i>
                        <h2 class="text-white mb-2" id="projectsCounter">1234</h2>
                        <p class="text-white mb-0">Compleate Projects</p>
                    </div> -->
                </div>
            </div>
        </div>
      
    
    <!-- Fact End -->