<!-- Page Header Start -->
<div class="container-fluid page-header">
    <h1 class="display-4 text-uppercase text-white mb-3">Kontakt</h1>
    <!-- <div class="d-inline-flex text-white">
        <h6 class="text-uppercase m-0"><a class="text-white" href="">Home</a></h6>
        <h6 class="text-body m-0 px-3">/</h6>
        <h6 class="text-uppercase text-body m-0">Contact</h6>
    </div> -->
</div>
<!-- Page Header Start -->


<!-- Contact Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <h1 class="display-4 text-uppercase text-center mb-5">Kontaktirajte nas</h1>
        <div class="row">
            <div class="col-lg-7 mb-2">
                <div class="contact-form bg-secondary mb-4" style="padding: 30px; display: flex; justify-content: center; border-radius: 28px;">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2835.3148215108336!2d20.4639629!3d44.713186!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475b15df80b7c357%3A0x11d600f691fcf464!2sMOBILE%20A.D.%20Iznajmljivanje%20luksuznih%20LIMUZINA!5e0!3m2!1sen!2srs!4v1711984768705!5m2!1sen!2srs" width="600" height="377" style="border:0; border-radius: 10px;" allowfullscreen="true" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="col-lg-5 mb-2">
                <div class="bg-secondary d-flex flex-column justify-content-center px-5 mb-4" style="height: 435px; border-radius: 28px;">
                    <div class="d-flex mb-3">
                        <!-- <i class="fab fa-viber"></i> -->
                        <i class="fab fa-viber text-primary flex-shrink-0 mr-3" style="font-size: 2em;"></i>
                        <div class="mt-n1">
                            <h5 class="text-light">Aleksandar</h5>
                            <a href="tel:+381648059847">+381 64 8059 847</a>
                        </div>
                        <!-- <i class="fab fa-whatsapp text-primary flex-shrink-0 mr-3" style="font-size: 2.1em; position: relative; bottom: 2px; left: 16px;"></i> -->
                    </div>
                    <div class="d-flex mb-3">
                        <i class="fa fa-2x fa-map-marker-alt text-primary flex-shrink-0 mr-3"></i>
                        <div class="mt-n1">
                            <h5 class="text-light">Adresa</h5>
                            <p>Međunarodni Put 142, Novi Sad</p>
                        </div>
                    </div>
                    <div class="d-flex mb-3">
                        <i class="fa fa-2x fa-phone-alt text-primary flex-shrink-0 mr-3"></i>
                        <div class="mt-n1">
                            <h5 class="text-light">Office</h5>
                            <a href="tel:+38121714709">+38121714709</a>
                        </div>
                    </div>
                    <div class="d-flex mb-3">
                        <i class="far fa-clock text-primary flex-shrink-0 mr-3" style="font-size: 2em;"></i>
                        <div class="mt-n1">
                            <h5 class="text-light">Radno vreme</h5>
                            <p>10h - 22h</p>
                        </div>
                    </div>
                    <div class="d-flex">
                        <i class="fa fa-2x fa-info-circle text-primary flex-shrink-0 mr-3"></i>
                        <div class="mt-n1">
                            <p class="m-0">Za rezervaciju potrebno je pozvati minimum 24h ranije.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->