
        
        
        <!-- Carousel Start -->
        <div class="container-fluid small-dev p-0">
            <div id="header-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="w-100" src="assets/img/bela_limuzina_croped.jpg" alt="Image">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="container">
                                <div class="row align-items-center justify-content-center justify-content-lg-start">
                                    <div class="col-10 col-lg-7 text-center text-lg-start">
                                        <h6 class="text-white text-uppercase mb-3 animated slideInDown" style="font-weight: 500 !important;">// Iznajmite naše limuzine //</h6>
                                        <h1 class="display-3 text-white mb-4 pb-3 animated slideInDown">Najbolje limuzine u Vojvodini</h1>
                                        <!-- <a href="" class="btn btn-primary py-3 px-5 animated slideInDown">Learn More<i class="fa fa-arrow-right ms-3"></i></a> -->
                                    </div>
                                    <div class="col-lg-5 d-none d-lg-flex animated zoomIn">
                                        <!-- style="transform: scale(1.7);" -->
                                        <!-- white-limo-test.png -->
                                        <!-- black-limo-croped2-transparent.png -->
                                        <!-- black-limo-carosel-plates-gone.png -->
                                        <img class="img-fluid" src="assets/img/black-limo-croped2-transparent.png" alt="" >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="w-100"  src="assets/img/crna_limuzina_croped.jpg" alt="Image">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="container">
                                <div class="row align-items-center justify-content-center justify-content-lg-start">
                                    <div class="col-10 col-lg-7 text-center text-lg-start">
                                        <h6 class="text-white text-uppercase mb-3 animated slideInDown">// Iznajmite naše limuzine //</h6>
                                        <h1 class="display-3 text-white mb-4 pb-3 animated slideInDown">Zagarantovani kvalitet i udobnost</h1>
                                        <!-- <a href="" class="btn btn-primary py-3 px-5 animated slideInDown">Learn More<i class="fa fa-arrow-right ms-3"></i></a> -->
                                    </div>
                                    <div class="col-lg-5 d-none d-lg-flex animated zoomIn">
                                        <img class="img-fluid" src="assets/img/white-limo.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                    <div class="btn btn-dark" style="width: 45px; height: 45px;">
                        <span class="carousel-control-prev-icon mb-n2"></span>
                    </div>
                </a>
                <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                    <div class="btn btn-dark" style="width: 45px; height: 45px;">
                        <span class="carousel-control-next-icon mb-n2"></span>
                    </div>
                </a>
            </div>
        </div>
        <!-- Carousel End -->
        
        
        <!-- About Start -->
        <div class="container-fluid py-5">
            <div class="container pt-5 pb-3">
                <h1 class="display-4 text-uppercase text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Dobrodošli u <span class="text-primary great-vibes-regular">Mobile ad</span></h1>
                <div class="row justify-content-center" style="margin-bottom: 7%;">
                    <div class="col-lg-10 text-center wow fadeInUp" data-wow-delay="0.3s">
                        <img class="w-75 mb-4" src="assets/img/group_limo.png" alt="" style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(255, 165, 0, 1) 100%);">
                        <p>Naša ponuda za vas je iznajmljivanje limuzina širom Vojvodine koje po vas stižu na bilo koju željenu adresu i u velikom stilu. Ekskluzivna opcija limo servisa je da maksimalno kvalitetno obeleži vaš poseban dan. Da li to bila svadba, momačko-devojačko veče, matura, rođendan ili bilo koja druga posebna prilika mi smo tu da vam je učinimo još lepšom. Učinite proslavu nezaboravnom. Uz ovaj odličan detalj vaša proslava će dugo ostati u sećanju i biti prepričavana među vama i vašim gostima. Odlučite se za komfor i sigurnost. Uživajte u magičnom i veoma udobnom enterijeru uz omijeno piće dok vas profesionalni vozači voze na željenu destinaciju.</p>
                        <p>Naši vozači su profesionalni, diskretni i ljubazni, u cenu vožnje je uključen bar s raznovrsnim pićem.</p>
                        <p>Razumemo važnost tačnosti u poslovnom svetu. Naši vozači će doći na vašu lokaciju najmanje 15 minuta pre zakazivanja vremena preuzimanja kako bi bili sigurni da nikada ne zakasnite na važan događaj ili sastanak.</p>
                        <p>Kontaktirajte nas i rezervišite vašu vožnju!</p>
                    </div>
                </div>
                <!-- <div class="row wow fadeInUp" data-wow-delay="0.4s" style="margin-bottom: 9%;">
                    <div class="col-md-4 padding_cars">
                       <div class="car_box">
                          <figure><img src="assets/img/car_img1.png" alt="#"/></figure>
                          <h3>Hundai</h3>
                       </div>
                    </div>
                    <div class="col-md-4 padding_cars">
                       <div class="car_box">
                          <figure><img src="assets/img/car_img2.png" alt="#"/></figure>
                          <h3>Audi</h3>
                       </div>
                    </div>
                    <div class="col-md-4 padding_cars">
                       <div class="car_box">
                          <figure><img src="assets/img/car_img3.png" alt="#"/></figure>
                          <h3>Bmw x5</h3>
                       </div>
                    </div>
                 </div> -->
                <div class="row mt-3">
                    <div class="col-lg-4 mb-2 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="d-flex align-items-center bg-light p-4 mb-4" style="height: 150px;">
                            <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4" style="width: 100px; height: 100px;">
                                <i class="fa fa-2x fa-headset text-secondary"></i>
                            </div>
                            <h4 class="text-uppercase m-0">24/7 Podrška</h4>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-2 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="d-flex align-items-center bg-secondary p-4 mb-4" style="height: 150px;">
                            <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4" style="width: 100px; height: 100px;">
                                <i class="fa fa-2x fa-car text-secondary"></i>
                            </div>
                            <h4 class="text-light text-uppercase m-0">Moguća rezervacija bilo kada</h4>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-2 wow fadeInUp" data-wow-delay="0.9s">
                        <div class="d-flex align-items-center bg-light p-4 mb-4" style="height: 150px;">
                            <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4" style="width: 100px; height: 100px;">
                                <i class="fa fa-2x fa-map-marker-alt text-secondary"></i>
                            </div>
                            <h4 class="text-uppercase m-0" style="text-align: center;">Vi određujete lokaciju za preuzimanje</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->
        
        
        <!-- Services Start -->
        <div class="container-fluid py-5">
            <div class="container pt-5 pb-3">
                <h1 class="display-4 text-uppercase text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Naša ponuda</h1>
                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-2 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="service-item d-flex flex-column justify-content-center px-4 mb-4" >
                            <div class="d-flex align-items-center justify-content-between mb-3" style="margin-top: 28px;">
                                <div class="d-flex align-items-center justify-content-center bg-primary ml-n4" style="width: 80px; height: 80px;">
                                    <i class="fa fa-2x fa-hand-holding-heart text-secondary"></i>
                                    <!-- <i class="fa fa-2x fa-taxi text-secondary"></i> -->
                                </div>
                                <h1 class="display-2 text-white mt-n2 m-0">01</h1>
                            </div>
                            <h4 class="text-uppercase mb-3 text-center">Venčanja - svadbe</h4>
                            <div class="overflow-hide-show">
                                <p class="m-0">Ukoliko sami sebi organizujete venčanje ili vama dragoj osobi ovim putem možete da priuštite nezaboravno spektakularne trenutke. Dok boravite u ovakvom egzotičnom vozilu sa svojim kumovima, porodicom ili prijateljima doživećete posebne momente koje možete da zabeležite prelepim fotografijama i video zapisom.</p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-2 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="service-item d-flex flex-column justify-content-center px-4 mb-4">
                            <div class="d-flex align-items-center justify-content-between mb-3" style="margin-top: 28px;">
                                <div class="d-flex align-items-center justify-content-center bg-primary ml-n4" style="width: 80px; height: 80px;">
                                    <i class="fa fa-2x fa-gift text-secondary"></i>
                                    <!-- <i class="fa fa-2x fa-money-check-alt text-secondary"></i> -->
                                </div>
                                <h1 class="display-2 text-white mt-n2 m-0">02</h1>
                            </div>
                            <h4 class="text-uppercase mb-3 text-center">Momačko-devojačke večeri</h4>
                            <div class="overflow-hide-show">
                                <p class="m-0">Momačko ili devojačko veče je podjednako popularno kako u svetu tako i kod nas. Jedno specifično veče gde buduća mlada ili mladoženja okupi svoje društvo da bi izašli u grad obično vikendom. Ukoliko se odlučite da ovaj izlazak učinite eskluzivnim vaša žurka počinje već od samog ulaska u luksuznu i bogato opremljenu limuzinu.</p>
                            </div>
                           
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-2 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="service-item d-flex flex-column justify-content-center px-4 mb-4">
                            <div class="d-flex align-items-center justify-content-between mb-3" style="margin-top: 28px;">
                                <div class="d-flex align-items-center justify-content-center bg-primary ml-n4" style="width: 80px; height: 80px;">
                                    <!-- <i class="fa fa-2x fa-car text-secondary"></i> -->
                                    <i class="fa fa-2x fa-user-graduate text-secondary"></i>
                                </div>
                                <h1 class="display-2 text-white mt-n2 m-0">03</h1>
                            </div>
                            <h4 class="text-uppercase mb-3 text-center">Mature i Apsolventske večeri</h4>
                            <div class="overflow-hide-show">
                                <p class="m-0">Vojvođanska kultura i čuvena elegancija u V.I.P. stilu je i dalje prisutna na velikom sokaku (Bulevaru). Iznajmljivanje limuzine za Maturu Apsolventsko veče će definitivno učiniti ovu vrstu proslave neoubičajnom. Na kontakt stranici možete rezervisati najdužu limuzinu u Vojvodini koja je stigla iz čuvenog New York limo servisa.</p>
                            </div>
                           
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-2 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="service-item d-flex flex-column justify-content-center px-4 mb-4">
                            <div class="d-flex align-items-center justify-content-between mb-3" style="margin-top: 9px;">
                                <div class="d-flex align-items-center justify-content-center bg-primary ml-n4" style="width: 80px; height: 80px;">
                                    <i class="fa fa-2x fa-glass-cheers text-secondary"></i>
                                    <!-- <i class="fa fa-2x fa-cogs text-secondary"></i> -->
                                </div>
                                <h1 class="display-2 text-white mt-n2 m-0">04</h1>
                            </div>
                            <h4 class="text-uppercase mb-3 text-center">Žurke</h4>
                            <div class="overflow-hide-show">
                                <p class="m-0">Provedite nezaboravnu noć u jednoj od naših limuzina! Stvorite posebne trenutke s svojim najbližima i stignite na svaku žurku u velikom stilu.</p>
                            </div>
                           
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-2 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="service-item d-flex flex-column justify-content-center px-4 mb-4">
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <div class="d-flex align-items-center justify-content-center bg-primary ml-n4" style="width: 80px; height: 80px;">
                                    <i class="fa fa-2x fa-birthday-cake text-secondary"></i>
                                    <!-- <i class="fa fa-2x fa-spray-can text-secondary"></i> -->
                                </div>
                                <h1 class="display-2 text-white mt-n2 m-0">05</h1>
                            </div>
                            <h4 class="text-uppercase mb-3 text-center">Rođendani</h4>
                            <div class="overflow-hide-show" style="margin-bottom: 17px;">
                                <p class="m-0">Neka vaš dan bude jos posebniji u našoj limuzini!!! Za svako rođendansko slavlje pripremamo vam posebno iznenađenje.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-2 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="service-item d-flex flex-column justify-content-center px-4 mb-4">
                            <div class="d-flex align-items-center justify-content-between mb-3" style="margin-top: 26px;">
                                <div class="d-flex align-items-center justify-content-center bg-primary ml-n4" style="width: 80px; height: 80px;">
                                    <i class="fa fa-2x fa-ring text-secondary"></i>
                                    <!-- <i class="fa fa-2x fa-pump-soap text-secondary"></i> -->
                                </div>
                                <h1 class="display-2 text-white mt-n2 m-0">06</h1>
                            </div>
                            <h4 class="text-uppercase mb-3 text-center">Veridbe</h4>
                            <div class="overflow-hide-show">
                                <p class="m-0">Želimo da vam prezentujemo jedan specifičan način kako da romantično zaprosite svoju voljenu osobu.
                                    Nešto poput ovoga ste verovatno videli u nekim filmovima gde princ dolazi po svoju princezu na moderan način u beloj limuzini. U većini slučajeva, velika želja da prosidba bude savršena za lepšu polovinu, mladoženju učini veoma nervoznim. Od momenta dolaska luksuzne limuzine sa romantičnim ambijentom koja obećava prelepo veče, nervoza prosto nestane. Moderan dizajn. prijatna muzika, prigušena svetla, lagana vožnja i šampanjac učiniće vaše trenutke kao iz bajke.</p>
                            </div>
            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Services End -->
        
        
        <!-- Banner Start -->
        <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.5s">
            <div class="container py-5">
                <div class="bg-banner py-5 px-4 text-center">
                    <div class="py-5">
                        <h1 class="display-1 text-uppercase text-primary mb-4">30% POPUST</h1>
                        <h1 class="text-uppercase text-light mb-4">Specijalna ponuda</h1>
                        <p class="mb-4">Na više od 3h vožnje</p>
                        <a class="btn btn-primary mt-2 py-3 px-5" href="tel:+381648059847"> Kontaktirajte nas</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner End -->
        
        
        <!-- Rent A Car Start -->
        <div class="container-fluid py-5">
            <div class="container pt-5 pb-3">
                <h1 class="display-4 text-uppercase text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Naše limuzine</h1>
                <div class="row">
                    <div *ngFor="let limo of limos" [routerLink]="['/limo', limo.name]" class="col-lg-4 col-md-6 mb-2 wow fadeInUp" style="cursor: pointer;" data-wow-delay="0.3s">
                        <div class="rent-item mb-4" style="height: 525px;">
                            <img class="img-fluid mb-4" src="{{limo.photoUrl}}" alt="{{limo.alt}}" [ngClass]="{'black-limo': limo.photoUrl === 'assets/img/black__limo_resized.png'}">
                            <h4 class="text-uppercase mb-4">{{limo.name}}</h4>
                            <i class="bi bi-person-check-fill text-primary mr-1" style="font-size: 20px;"></i><span style="margin-bottom: 0;">{{limo.peopleNum}}</span><br>
                            <i class="fas fa-ruler-horizontal text-primary mr-1"></i><span style="margin-bottom: 0;">Dugačka 8m</span><br>
                             <i class="fa fa-cogs text-primary mr-1"></i><span>V8 benzinski motor 4800ccm</span>
                            <div class="d-flex justify-content-center mb-4">
                                <!-- <div class="px-2">
                                    <i class="fa fa-car text-primary mr-1"></i>
                                    <span>{{limo.year}}</span>
                                </div>
                                <div class="px-2 border-left border-right">
                                    <i class="fa fa-cogs text-primary mr-1"></i>
                                    <span>{{limo.transmision}}</span>
                                </div>
                                <div class="px-2">
                                    <i class="fa fa-road text-primary mr-1"></i>
                                    <span>{{limo.miles}}</span>
                                </div> -->
                            </div>
                            <a class="btn btn-primary px-3">Detaljnije</a>
                        </div>
                    </div>
                    <!-- <div class="col-lg-4 col-md-6 mb-2 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="rent-item active mb-4">
                            <img class="img-fluid mb-4" src="" alt="">
                            <h4 class="text-uppercase mb-4"></h4>
                            <div class="d-flex justify-content-center mb-4">
                                <div class="px-2">
                                    <i class="fa fa-car text-primary mr-1"></i>
                                    <span></span>
                                </div>
                                <div class="px-2 border-left border-right">
                                    <i class="fa fa-cogs text-primary mr-1"></i>
                                    <span></span>
                                </div>
                                <div class="px-2">
                                    <i class="fa fa-road text-primary mr-1"></i>
                                    <span></span>
                                </div>
                            </div>
                            <a class="btn btn-primary px-3" href="">Detaljnije</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-2 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="rent-item mb-4">
                            <img class="img-fluid mb-4" src="" alt="">
                            <h4 class="text-uppercase mb-4"></h4>
                            <div class="d-flex justify-content-center mb-4">
                                <div class="px-2">
                                    <i class="fa fa-car text-primary mr-1"></i>
                                    <span></span>
                                </div>
                                <div class="px-2 border-left border-right">
                                    <i class="fa fa-cogs text-primary mr-1"></i>
                                    <span></span>
                                </div>
                                <div class="px-2">
                                    <i class="fa fa-road text-primary mr-1"></i>
                                    <span></span>
                                </div>
                            </div>
                            <a class="btn btn-primary px-3" href="">Detaljnije</a>
                        </div>
                    </div> -->
                    <!-- <div class="col-lg-4 col-md-6 mb-2 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="rent-item mb-4">
                            <img class="img-fluid mb-4" src="assets/img/car-rent-4.png" alt="">
                            <h4 class="text-uppercase mb-4">Mercedes Benz R3</h4>
                            <div class="d-flex justify-content-center mb-4">
                                <div class="px-2">
                                    <i class="fa fa-car text-primary mr-1"></i>
                                    <span>2015</span>
                                </div>
                                <div class="px-2 border-left border-right">
                                    <i class="fa fa-cogs text-primary mr-1"></i>
                                    <span>AUTO</span>
                                </div>
                                <div class="px-2">
                                    <i class="fa fa-road text-primary mr-1"></i>
                                    <span>25K</span>
                                </div>
                            </div>
                            <a class="btn btn-primary px-3" href="">$99.00/Day</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-2 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="rent-item mb-4">
                            <img class="img-fluid mb-4" src="assets/img/car-rent-5.png" alt="">
                            <h4 class="text-uppercase mb-4">Mercedes Benz R3</h4>
                            <div class="d-flex justify-content-center mb-4">
                                <div class="px-2">
                                    <i class="fa fa-car text-primary mr-1"></i>
                                    <span>2015</span>
                                </div>
                                <div class="px-2 border-left border-right">
                                    <i class="fa fa-cogs text-primary mr-1"></i>
                                    <span>AUTO</span>
                                </div>
                                <div class="px-2">
                                    <i class="fa fa-road text-primary mr-1"></i>
                                    <span>25K</span>
                                </div>
                            </div>
                            <a class="btn btn-primary px-3" href="">$99.00/Day</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-2 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="rent-item mb-4">
                            <img class="img-fluid mb-4" src="assets/img/car-rent-6.png" alt="">
                            <h4 class="text-uppercase mb-4">Mercedes Benz R3</h4>
                            <div class="d-flex justify-content-center mb-4">
                                <div class="px-2">
                                    <i class="fa fa-car text-primary mr-1"></i>
                                    <span>2015</span>
                                </div>
                                <div class="px-2 border-left border-right">
                                    <i class="fa fa-cogs text-primary mr-1"></i>
                                    <span>AUTO</span>
                                </div>
                                <div class="px-2">
                                    <i class="fa fa-road text-primary mr-1"></i>
                                    <span>25K</span>
                                </div>
                            </div>
                            <a class="btn btn-primary px-3" href="">$99.00/Day</a>
                        </div>
                    </div> -->
                </div>
            </div>
            <!-- <div class="wrapper">
                <div class="note">
                    <i class="bi bi-lightbulb-fill text-primary"></i> Vršimo dekoraciju limuzine po vašoj želji!!!
                </div>
            </div> -->
            <div class="wrapper">
                <div class="alert alert-primary">
                    <i class="bi bi-lightbulb-fill text-primary"></i> Ukoliko želite vršimo dekoraciju limuzine po vašoj želji !!!
                  </div>
            </div>
           
            
        </div>
        <!-- Rent A Car End -->
        

           <div class="container-fluid py-5">
            <div class="container py-5">
                <h1 class="display-4 text-uppercase text-center mb-5">Galerija slika</h1>
                <owl-carousel-o [options]="customOptions" class="position-relative my-unique-carousel">

                    <ng-template carouselSlide *ngFor="let slide of cars">
                        <div class="team-item" style="border-radius: 10px;">
                        <img class="img-fluid w-100" [src]="'assets/img/' + slide.picture" style="border-radius: 10px;width: 480px;height: 360px;">
                        <div class="position-relative py-4">
                            <!-- <h4 class="text-uppercase">Full Name</h4>
                            <p class="m-0">Designation</p>
                            <div class="team-social position-absolute w-100 h-100 d-flex align-items-center justify-content-center">
                                <a class="btn btn-lg btn-primary btn-lg-square mx-1" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square mx-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div> -->
                        </div>
                        </div>
                    </ng-template>
                    
    
                </owl-carousel-o>
            </div>
            </div>
        
        
       <!-- Banner Start 2 -->
       <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.5s">
        <div class="container py-5">
            <div class="bg-banner py-5 px-4 text-center">
                <div class="py-5">
                    <h1 class="display-4 text-uppercase text-primary mb-4">GLAMUROZNE LIMUZINE</h1>
                    <p class="mb-4" style="font-size: calc(16px + 1vw);">Samo za posebne prilike!</p>
                    <!-- <button (click)="playVideo();togglePlayer()">Play Video</button> -->
                    <!-- <youtube-player
                    videoId="wJH081pI5tk" 
                    suggestedQuality="highres" 
                    [height]="250" 
                    [width]="500" 
                    [startSeconds]="4"
                    [endSeconds]="8">
            </youtube-player> -->
                    <!-- <a class="btn btn-primary mt-2 py-3 px-5" style="border-radius: 5px;"><i class="fa fa-2x fa-play text-secondary" style=" color:#ff8409;"></i></a> -->
                    <a class="btn btn-primary mt-2 py-3 px-5" style="border-radius: 5px;" (click)="playVideo();togglePlayer()"><i class="fa fa-2x fa-play text-secondary" style=" color:#ff8409;"></i></a>
                    <!-- <button *ngIf="showCloseButton" (click)="closePlayer()" class="close-button">Close</button> -->
                    @if(showPlayer){ 
                        <!-- <div #playerContainer style="width: 600px; height: 400px; position: relative;
                        z-index: 999;" [hidden]="!showPlayer">
                        </div> -->

                        <div class="overlay">
    
                            <div class="overlay-content">
                                
                                            <div class="closeDiv" *ngIf="showCloseButton" (click)="closePlayer()"><i class="fa fa-times-circle" style=" color:#ff8409; font-size: 29px;"></i></div>
                                            <youtube-player class="ol"
                                            videoId="4Cnd9-_GnSw" 
                                            suggestedQuality="highres" 
                                            [height]="400" 
                                            [width]="calcWidth()" 
                                            [startSeconds]="4"
                                            [endSeconds]="8">
                                            </youtube-player>
                                
                            </div>
                        </div>

                    
                    }
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End 2 -->


        <div class="container-fluid py-5">
            <div class="container py-5">

                <h1 class="display-4 text-uppercase text-center mb-5">Utisci klijenata</h1>
                <owl-carousel-o [options]="customOptions2" class="testimonial-carousel position-relative">

                    <ng-template carouselSlide>
                        <div class="testimonial-item d-flex flex-column justify-content-center px-4">
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <img class="img-fluid ml-n4" src="https://www.gravatar.com/avatar/6611035d28d00efa6d1fff63384e9a12?s=120&d=mm" alt="">
                                <h1 class="display-2 text-white m-0 fa fa-quote-right"></h1>
                            </div>
                            <h4 class="text-uppercase mb-2">Bele Aleksandar</h4>
                            <i class="mb-2">Automehaničar</i>
                            <p class="m-0">Najbolji ste !!! Sve je bilo na nivou.</p>
                        </div>
                    </ng-template>

                   
                    <ng-template carouselSlide>
                        <div class="testimonial-item d-flex flex-column justify-content-center px-4">
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <img class="img-fluid ml-n4" src="assets/img/testimonial-2.jpg" alt="">
                                <h1 class="display-2 text-white m-0 fa fa-quote-right"></h1>
                            </div>
                            <h4 class="text-uppercase mb-2">Liz B</h4>
                            <i class="mb-2">Učitelj</i>
                            <p class="m-0">Muy bien servicio se los rescomiendo ampliamente</p>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="testimonial-item d-flex flex-column justify-content-center px-4">
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <img class="img-fluid ml-n4" src="https://limuzine-novisad.com/wp-content/uploads/2017/01/LOGO-FIRME-novo.jpg" alt="">
                                <h1 class="display-2 text-white m-0 fa fa-quote-right"></h1>
                            </div>
                            <h4 class="text-uppercase mb-2">Fotokopirnica Patern</h4>
                            <i class="mb-2">Fotokopiranje i štampanje</i>
                            <p class="m-0">Super vožnja preporučujem svakom… Vrhunski doživljaj!!!</p>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="testimonial-item d-flex flex-column justify-content-center px-4">
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <img class="img-fluid ml-n4" src="https://limuzine-novisad.com/wp-content/uploads/2017/01/p-1.jpg" alt="">
                                <h1 class="display-2 text-white m-0 fa fa-quote-right"></h1>
                            </div>
                            <h4 class="text-uppercase mb-2">Gane photography</h4>
                            <i class="mb-2">Fotograf</i>
                            <p class="m-0">limuzina prava…domaćinska…..ko soliter…muzika kao u Studio 54 NY…svaka cast vozaci….ma sve za 10</p>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="testimonial-item d-flex flex-column justify-content-center px-4">
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <img class="img-fluid ml-n4" src="https://limuzine-novisad.com/wp-content/uploads/2017/01/f40057c9-3e32-4660-9a20-a6069c2ae3f1.jpg" alt="">
                                <h1 class="display-2 text-white m-0 fa fa-quote-right"></h1>
                            </div>
                            <h4 class="text-uppercase mb-2">Svetozar Milinov</h4>
                            <i class="mb-2">Preduzetnik</i>
                            <p class="m-0">Pravo mesto da iznajmite limuzinu kao iz Holivudski filmova … svaka vam čast za predivnu i nezaboravnu vožnju … sve preporuke za profesionalizam</p>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="testimonial-item d-flex flex-column justify-content-center px-4">
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <img class="img-fluid ml-n4" src="https://limuzine-novisad.com/wp-content/uploads/2017/01/unnamed-1.jpg" alt="">
                                <h1 class="display-2 text-white m-0 fa fa-quote-right"></h1>
                            </div>
                            <h4 class="text-uppercase mb-2">Branislava Zeljković</h4>
                            <i class="mb-2">Trgovac</i>
                            <p class="m-0">Limuzinu smo iznajmili na 2 h oduševljeni smo slike su ispale ekstra muzika je stvarno kao u maloj diskoteci na točkovima, piće … vozač je vrlo ljubazan… stvarno sve preporuke …</p>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="testimonial-item d-flex flex-column justify-content-center px-4">
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <img class="img-fluid ml-n4" src="https://limuzine-novisad.com/wp-content/uploads/2017/01/unnamed.jpg" alt="">
                                <h1 class="display-2 text-white m-0 fa fa-quote-right"></h1>
                            </div>
                            <h4 class="text-uppercase mb-2">Dacha Mili</h4>
                            <i class="mb-2">Student</i>
                            <p class="m-0"> Poklon vožnja za sestru … super ideja … Vožnja nezaboravna Sve preporuke…</p>
                        </div>
                    </ng-template>
                    
    
                </owl-carousel-o>
            </div>
        </div>
        
        
        <!-- Contact Start -->
        <!-- <div class="container-fluid py-5">
            <div class="container pt-5 pb-3">
                <h1 class="display-4 text-uppercase text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Contact Us</h1>
                <div class="row wow fadeInUp" data-wow-delay="0.3s">
                    <div class="col-lg-7 mb-2">
                        <div class="contact-form bg-light mb-4" style="padding: 30px;">
                            <form>
                                <div class="row">
                                    <div class="col-6 form-group">
                                        <input type="text" class="form-control p-4" placeholder="Your Name" required="required">
                                    </div>
                                    <div class="col-6 form-group">
                                        <input type="email" class="form-control p-4" placeholder="Your Email" required="required">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control p-4" placeholder="Subject" required="required">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control py-3 px-4" rows="5" placeholder="Message" required="required"></textarea>
                                </div>
                                <div>
                                    <button class="btn btn-primary py-3 px-5" type="submit">Send Message</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-5 mb-2">
                        <div class="bg-secondary d-flex flex-column justify-content-center px-5 mb-4" style="height: 435px;">
                            <div class="d-flex mb-3">
                                <i class="fa fa-2x fa-map-marker-alt text-primary flex-shrink-0 mr-3"></i>
                                <div class="mt-n1">
                                    <h5 class="text-light">Head Office</h5>
                                    <p>123 Street, New York, USA</p>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <i class="fa fa-2x fa-map-marker-alt text-primary flex-shrink-0 mr-3"></i>
                                <div class="mt-n1">
                                    <h5 class="text-light">Branch Office</h5>
                                    <p>123 Street, New York, USA</p>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <i class="fa fa-2x fa-envelope-open text-primary flex-shrink-0 mr-3"></i>
                                <div class="mt-n1">
                                    <h5 class="text-light">Customer Service</h5>
                                    <p>customer&#64;.com</p>
                                </div>
                            </div>
                            <div class="d-flex">
                                <i class="fa fa-2x fa-envelope-open text-primary flex-shrink-0 mr-3"></i>
                                <div class="mt-n1">
                                    <h5 class="text-light">Return & Refund</h5>
                                    <p class="m-0">refund&#64;.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Contact End -->
        



        


